
#队列名
topicname=ttpod_client

#最大向kafka批量发送消息数
batch.size=100

#内部队列大小
queue.size=10000

#实时获取数据的shell命令
command.line=tail -F /data/logs/ttpod_client/access.log

#kafka的broker列表
etadata.broker.list=stat150:9093,stat150:9094

#序列化类
serializer.class=kafka.serializer.StringEncoder

#安全机制，详细参考kafka的官方文档---produce的配置说明
request.required.acks=1

#异步或者同步发送
producer.type=sync

#消息压缩类型
compression.codec=snappy

#发送kafka线程数
consumer.num=1
