
#队列名
topicname=test

#最大向kafka批量发送消息数
batch.size=100

#内部队列大小
queue.size=10000

#实时获取数据的shell命令
command.line=tail -f ./pom.xml

#kafka的broker列表
metadata.broker.list=hadoop01:9093

#序列化类
serializer.class=kafka.serializer.StringEncoder

#安全机制，详细参考kafka的官方文档---produce的配置说明
request.required.acks=1

#异步或者同步发送
producer.type=sync

compression.codec=snappy

consumer.num=1
